.auth-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-card {
    background-color: #294936;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.auth-tabs {
  display: flex;
  background-color: #f1f1f1;
}

.auth-tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.auth-tab.active {
  background-color: #5B8266;
  color: white;
}

.auth-content {
  padding: 20px;
}